.footer {
    background-color: $color-black;
    color: $color-white;

    display: grid;
    grid-template-columns: 25rem 1fr 25rem;
    padding: 2rem;


    &__contact-details {
        margin-top: 2rem;
    }

    &__rights {

        text-align: center;
        align-self: center;
        padding-top: 1rem;

        @media only screen and (max-width: 645px) {
            grid-row: 2 / -1;
            grid-column: 1 / -1;
        }
    }

    &__techs {

        text-align: center;

        p {
            @media only screen and (max-width: 460px) {
                font-size: 1.4rem;
            }
            
        }
        
        img {
              height: 8rem;
            width: 8rem;
            }

        @media only screen and (max-width: 645px) {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }
    }

    @media only screen and (max-width: 645px) {
        grid-template-columns: 20rem 1fr max-content;
        grid-template-rows: 10rem 1fr;
    }

}

.ln {
    border-radius: 100px;
    margin: 1.5rem;
    width: 7rem;
    height: 7rem;
    background-color: #3095d3;
    float: left;
}
