.skills {
    background-image: linear-gradient(to right bottom,
        rgba($color-black, 0.8),
        rgba($red-start, 0.8)),
        url(../img/mountain.jpg);
    background-size: cover;
    background-position: center;

    /*     background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
        background-size: cover;*/


    position: relative;
    z-index: 25;
    padding: 0 10rem 50rem 10rem;
    font-size: 2.2rem;
    color: $color-white;

    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

 h2 {
        margin-bottom: 10rem;
    }


    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-row-gap: 8rem;
        grid-column-gap: 18rem;
        
        @media only screen and (max-width: 703px) {
                justify-items: center;
            }
    }

    &__box {
        
        h3 {
            line-height: 200%;
            text-align: center;
        }
    }
    
    &__item {
        height: 40rem;
        width: 30rem;
        position: relative;
        border-radius: 10px;

        img {
            width: 40%;
            margin-left: 30%;
            position: absolute;
            top: -6rem;
        } 

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        p {
            text-transform: uppercase;
            font-size: 3.2rem;
            position: absolute;
            top: 65%;
            left: 18%;
        }
    }

    &__css {
        background-image: linear-gradient(to right bottom,
        rgba(green, 0.3),
        rgba(green, 0.3)),
        url(../img/code-css.png);
    }

    &__scss {
        background-image: url(../img/code-scss.png);
        
    }

    &__js {
        background-color: gray;
    }

    &__bootstrap {
        background-color: gray;
    }

    @media only screen and (max-width: 750px) {
                padding: 0 5rem 25rem 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            }
}
